# Dart/Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock
*.iml
*.g.dart

# example app pub cache
example/.dart_tool/
example/build/
example/pubspec.lock

# code coverage
coverage/
*.lcov

# caches
.cache

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
